/* Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Header Section */
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-color: rgba(229, 84, 115, 0.1);
}
.left-home {
  width: 40%;
  padding-left: 10rem;
}
.right-home {
  padding-right: 7rem;
}
.home-title {
  font-size: 3.5rem;
  font-weight: 800;
  color: #272727;
  margin-bottom: 1rem;
}
.home-description {
  font-size: 1rem;
  color: rgba(39, 39, 39, 0.6);
  line-height: 25px;
  margin-bottom: 1rem;
}
.btn {
  color: white;
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  border: none;
  font-size: 1rem;
  font-weight: bold;
}
.home-image {
  padding-top: 5rem;
  width: 508px;
  height: 571px;
}

/* Feature Section */
.feature {
  margin: 8rem 8.25rem;
}
.feature-title-section {
  text-align: center;
}
.feature-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #272727;
  margin-bottom: 1rem;
}
.feature-description {
  color: rgba(39, 39, 39, 0.6);
  line-height: 25px;
}
.feature-flowers {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-around;
}
.flower1-image,
.flower2-image,
.flower3-image {
  width: 250px;
  height: 350px;
  padding: 0 3rem;
  padding-top: 5rem;
  border-radius: 300px 300px 0px 0px;
}
.flower-title {
  margin-top: 2rem;
  color: #272727;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  text-decoration-line: underline;
}
.flower1-image {
  background: rgba(167, 33, 98, 0.15);
}
.flower2-image {
  background: rgba(5, 151, 160, 0.15);
}
.flower3-image {
  background: rgba(71, 125, 17, 0.15);
}
.feature-logo-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6rem;
  height: 30vh;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
}
.feature-logo-div {
  text-align: center;
}
.logo-description {
  margin-top: 1rem;
  color: rgba(39, 39, 39, 0.8);
  font-weight: 600;
}

/* Sale Section */
.sale {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70vh;
  background-color: rgba(229, 84, 115, 0.1);
}
.sale-left {
  width: 40%;
  text-align: center;
}
.sale-title {
  font-size: 2rem;
  color: #272727;
  font-weight: 800;
}
.sale-off {
  color: #e55473;
}
.sale-description {
  color: rgba(39, 39, 39, 0.6);
  margin: 1rem 0;
  line-height: 25px;
}
.sale-right {
  margin-right: 5rem;
}
.sale-image {
  width: 250px;
}

/* Instagram Section */
.instagram {
  margin: 8rem 8.25rem;
}
.instagram-top {
  text-align: center;
}
.instagram-title {
  font-size: 2.5rem;
  font-weight: 800;
  color: #272727;
  margin-bottom: 1rem;
}
.instagram-description {
  color: rgba(39, 39, 39, 0.6);
  line-height: 25px;
}
.instagram-middle {
  margin-top: 2rem;
  margin-bottom: 6rem;
  justify-content: center;
  gap: 1rem;
  display: flex;
}
.instagram-image {
  width: 260px;
}
.instagram-bottom {
  text-align: center;
  border-radius: 8px;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/Rectangle\ 9.png");
}
.sub-title {
  padding-top: 4rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: #272727;
  margin-bottom: 1rem;
}
.sub-description {
  color: rgba(39, 39, 39, 0.6);
  line-height: 25px;
  margin-bottom: 2rem;
}
.sub-input {
  padding: 0 20px;
  width: 500px;
  height: 60px;
  border-radius: 8px;
  border: none;
  margin-right: 1rem;
}

/* Contact Section */
.contact {
  padding: 5rem 0rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(167, 33, 98, 0.15);
}
.contact-icon {
  display: flex;
  align-items: baseline;
  gap: 2rem;
  margin-top: 2rem;
}
.contact-icon i {
  color: #e55473;
}
.left-contact-title,
.right-contact-title {
  font-size: 2rem;
  color: #272727;
  font-weight: 800;
}
.left-contact-title {
  margin-bottom: 2rem;
}
.left-contact-description,
.icon-description {
  color: rgba(39, 39, 39, 0.6);
  margin-bottom: 1rem;
}
.contact-form {
  margin-top: 1rem;
}
.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
  border: none;
  padding: 1rem 1rem;
  border-radius: 8px;
}
.contact-form input {
  height: 20px;
  width: 400px;
}
.contact-form textarea {
  width: 400px;
}

/* Footer Section */
.footer {
  background: #111010;
  text-align: center;
  height: 50vh;
}
.footer-title {
  padding-top: 4.5rem;
  font-size: 2.5rem;
  font-weight: 800;
  color: white;
  margin-bottom: 1rem;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  line-height: 25px;
  margin-bottom: 2rem;
}
.footer-span {
  color: #e55473;
}
.copyright {
  color: rgba(255, 255, 255, 0.4);
}
